mycroft_domain: "example.com"
sso_base_url: "test"
oauth_base_url: "https://someurl.com"
github_user: "jimmykarily"
github_password: "b9a032678c5d3b204e05fccb49e7f5b5b9c8a45c"
email_service_host: "http://test"
email_service_port: "443"
email_service_user: "test"
email_service_password: "test"
