mycroft_domain: "example.com"
sso_base_url: "test"
oauth_base_url: "https://someurl.com"
github_user: "<your_github_user>"
github_password: "<your_github_oauth_token_goes_here>"
email_service_host: "http://test"
email_service_port: "443"
email_service_user: "test"
email_service_password: "test"
